.divm{
    margin-top: 55px;
}

.formDiv{
    /* margin: 20%; */
    margin-top: 7%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-color:aliceblue;
    padding: 5%;
}

span{
    color: red;
}