<div class="divm">
    <div class="formDiv">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label" style="font-weight: bold;">User Name</label>
            <p>{{name}}</p>
          </div>
      
          <div class="mb-3">
            <label for="email" class="form-label" style="font-weight: bold;">Email</label>
            <p>{{email}}</p>
          </div>
      
          <div class="mb-3">
            <label for="mobileNo" class="form-label" style="font-weight: bold;">Mobile number</label>
            <p>{{mobileNo}}</p>
          </div>
          <br />
        </form>
      </div>
</div>